<div class="slds-page-header" role="banner">
  <nav class="slds-m-bottom--xx-small" role="navigation">
    <p id="bread-crumb-label" class="slds-assistive-text">You are here:</p>
    <ol class="slds-breadcrumb slds-list--horizontal" aria-labelledby="bread-crumb-label">
      <li class="slds-list__item slds-text-heading--label"><a href="/">Unnecessary Use of Force</a></li>
      <li class="slds-list__item slds-text-heading--label"><a href="/">Posts</a></li>
    </ol>
  </nav>
  <div class="slds-grid">
    <div class="slds-col slds-has-flexi-truncate">
      <h1 class="slds-text-heading--medium slds-truncate" >{{title}}</h1>
    </div>
  </div>
  <p class="slds-text-body--small slds-m-top--x-small"><time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}</p>
</div>